# 🔒 Contraseñas y variables privadas
.env
.env.local

# 📂 Certificados de AFIP — NUNCA subir
backend/server/certificados/
*.cer
*.key
*.pem

# 🗑️ Paquetes y archivos temporales
node_modules/
.vscode/
*.log
solicitud-certificado.csr

# ✅ facturacionadmin SÍ se sube → NO va acá
# ❌ NO agregues facturacionadmin en esta lista